
<ion-header>
  <ion-navbar>
    <ion-title>حول التطبيق</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>تطبيق القصص الإسلامي</h2>
  <div *ngIf="!isLoaded" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  <div *ngIf="isLoaded" [innerHtml]="content">
  </div>
</ion-content>