<ion-header>
    <ion-navbar>
        <ion-title>{{subjectTitle}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content style="background-image: none !important;  background-color: white !important;" padding>
    <ion-item no-lines>
        <ion-thumbnail  item-start>
            <img *ngIf="!isAudio" src="assets/imgs/video-camera.svg">
            <img *ngIf="isAudio" src="assets/imgs/speaker.svg">
        </ion-thumbnail>
        <h4 style="font-size: 1.1em;">{{subjectTitle}}</h4>
        <p style="font-size: 0.8em;">{{sheikh}}</p>
    </ion-item>
    <hr />
    <ion-card-content>
        <h3 style="color:gray !important;  font-size: 1.5rem;">{{subjectTitle}}</h3>
        <div [innerHtml]="description" style="font-size:0.9em; color:gray !important;">
        </div>
    </ion-card-content>
    <ion-item no-lines>
        <p item-end class="comments">
            <ion-icon name="ios-trending-up"></ion-icon>
            {{visits}} زيارة
        </p>
    </ion-item>

    <ion-row padding justify-content-center>
        <ion-col *ngIf="isAudio">
            <button full ion-button color="light" (click)="listen()">
                <p style="font-size: 0.9em !important;" justify-content-center>
                    <ion-icon class="larger-icon" name="play"></ion-icon>
                    إستماع
                </p>
            </button>
        </ion-col>
        <ion-col *ngIf="!isAudio">
            <button full ion-button color="light" (click)="playVideo()">
                <p style="font-size: 0.9em !important;" justify-content-center>
                    <ion-icon class="larger-icon" name="videocam"></ion-icon>
                    مشاهدة
                </p>
            </button>
        </ion-col>
        <!-- <ion-col>
            <button full ion-button color="light" (click)="accept()">
                <p style="font-size: 0.9em !important;" justify-content-center>
                    <ion-icon class="larger-icon" name="md-download"></ion-icon>
                    تحميل
                </p>
            </button>
        </ion-col> -->
        <ion-col>
            <button full ion-button color="light" (click)="presentActionSheet()">
                <p style="font-size: 0.9em !important;" justify-content-center>
                    <ion-icon class="larger-icon" name="share-alt"></ion-icon>
                    مشاركة
                </p>
            </button>
        </ion-col>
    </ion-row>
</ion-content>