<ion-header no-border>
  <ion-navbar>
    <ion-title>المرئيات</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-tabs  primary>
      <ion-tab tabTitle="المجموعات" [root]="'VideoGroupsPage'" ></ion-tab>
      <ion-tab tabTitle="السلاسل" [root]="'VideoSeriesPage'"  [rootParams]="{dept:null}"></ion-tab>
      <ion-tab tabTitle="المواد" [root]="'SubjectsListPage'"  [rootParams]="{dept:null}"></ion-tab>
    </ion-tabs>
</ion-content>