<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <div class="main">
          <h4 text-center>
            الشيخ
            <br> نبيل العوضي
          </h4>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="navigate('VideosPage')" text-center>
        <div class="aligned-col">
          <h5 text-center>
            مرئيات
          </h5>
        </div>
      </ion-col>
      <ion-col (click)="navigate('AudiosPage')" text-center>
        <div class="aligned-col">
          <h5 text-center>
            صوتيات
          </h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>