page-home {
  
 
    ion-grid , ion-icon   {
        color:white;
    }     
    ion-grid{
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      height: 100%;               
    }   
    .main
    {
      margin: auto;
      width: 210px;
      height: 200px; 
      background-image: url(../assets/imgs/icon01.png);
      background-size: cover;
      animation: sliding 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -webkit-animation: sliding 1.4s ease-in-out;
      h4{
        font-weight: bold;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100%;               
      }
    }    
    @keyframes sliding {
      0% {
        transform: translateY(-800px);
        opacity: 0;
      }
      70% {
        opacity: 0.4;
      }
      80% {
        transform: translateY(48px);
        opacity: 0.6;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  
  @keyframes sliding-bottom {
    0% {
      transform: translateY(800px);
      opacity: 0;
    }
    70% {
      transform: translateY(300px);      
      opacity: 0.4;
    }
    80% {
      transform: translateY(20px);
      opacity: 0.6;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
    .aligned-col{
      margin: auto;
      width: 123px;
      height: 113px; 
      background-image: url(../assets/imgs/icon.png);
      background-size: cover;   
      animation: sliding-right 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -webkit-animation: sliding-right 1.4s ease-in-out;
      h5{
        font-weight: bold;        
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100%;               
      } 
        animation: sliding-bottom 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-animation: sliding-bottom 1.9s ease-in-out;
   
    }
}
