<ion-menu side="right" [content]="content">
  <ion-header>
    <ion-toolbar style="height: 150px !important;">
      <ion-title>
        <img class="rounded-image" align-center src="assets/imgs/logo.png" height="130" width="130"/>
      </ion-title>
    </ion-toolbar>
  </ion-header> 
  <ion-content>
    <ion-list>
      <button no-lines menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-start [name]="p.icon"></ion-icon>
        <ion-label>
          {{p.title}}
        </ion-label>
      </button>
    </ion-list>
  </ion-content> 
</ion-menu>
<ion-fab left bottom>
    <button menuToggle ion-fab color="dark">
        <ion-icon name="ios-menu"></ion-icon>
    </button>
</ion-fab>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> 
