 
@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('../assets/fonts/DroidKufi.eot') format('embedded-opentype'), url('../assets/fonts/DroidKufi.woff') format('woff'), url('../assets/fonts/DroidKufi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .rounded-image{
    background-color: #062955;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center !important;
    align-items: center !important;
  }
  .back-button ion-icon{
    color: white !important;
    transform: rotate(180deg);
  } 
  
  .toolbar-title-md , .toolbar-title-ios{
    color: white;
  }
  .item-complex .item-content, .item{
    background-color: transparent !important;
    color:white;
}
  .tabs-md .tab-button {
    min-height: 4.6rem;
  }
  .tabs-ios .tab-button {
    min-height: 4.6rem;
  }

   .tabs-md .tab-button[aria-selected=true] {
    border-bottom-color: white;
    color: white !important;
    border-bottom-width: medium;
    border-bottom-style: solid;
      }
    .tabs-md .tab-button[aria-selected=false] {
      color: whitesmoke; 
    }

    .tabs-ios .tab-button[aria-selected=true] {
      border-bottom-color: white;
      color: white !important;
      border-bottom-width: medium;
      border-bottom-style: solid;
      }

  .tabs-ios .tab-button[aria-selected=false] {
    color: whitesmoke; 
  }
   .toolbar-background-ios  {
    background: #2583ff !important;      
    border-color: transparent !important;
    color: white;
  }

 .toolbar-background-md{
    background: #2583ff !important;      
    border-color: transparent !important;
    color: white;
  }

  .tabs-ios .tabbar {
    border-color: #2583ff !important;  
    background: #2583ff !important;    
  } 
  .tabs-md .tabbar{
    border-color: #2583ff !important;  
    background: #2583ff !important;    
  } 
  @font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('assets/fonts/BarlowSemiCondensed-Medium.ttf') format("opentype");
    font-size: 17px !important;
  }
  
  ion-content, ion-tabs, ion-header ,ion-footer{
    font-family: 'Droid Arabic Kufi' ,'Barlow Semi Condensed' ,sans-serif !important;
  }
    
  ion-menu ion-content{
    background: whitesmoke !important;
  }
  
ion-menu .item .item-block .item-md{
  color: #807d7d !important;
  background-color:whitesmoke !important;
}
ion-menu .item-complex .item-content, .item{
    background-color: transparent !important;
    color:rgb(189, 189, 189);
}
ion-content{ 
    background-image: url('../assets/imgs/main.png') !important;
    background-size: cover;
  }


  .spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #0277bd;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .loading-md .loading-wrapper , .loading-ios .loading-wrapper  {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
    padding: 0 !important;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
  