<ion-header *ngIf="deptTitle">
  <ion-navbar>
    <ion-title>
      {{deptTitle}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!isLoaded" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  <ion-list *ngIf="isLoaded" padding-bottom padding-bottom padding-bottom>
    <ion-item no-lines>
      <label item-start>
        <h1>
          عنوان المادة
        </h1>
      </label>
      <ion-icon style="padding-left: 8px;" item-end *ngIf="isSeriesOrGroup" name="bookmark">
      </ion-icon>
      <ion-icon style="padding-left: 8px;" item-end *ngIf="!isSeriesOrGroup" name="eye">
      </ion-icon>
    </ion-item>

    <ion-item *ngFor="let x of list" (click)="openAudioDetails(x)">
      {{x.name}}
      <ion-note item-end>
        {{x.views}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>