<ion-content padding>

  <div *ngIf="!isLoaded" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  
  <ion-list *ngIf="isLoaded" padding-bottom padding-bottom padding-bottom >
    <ion-item no-lines>
      <label item-start>
        <h1>
          عنوان المجموعة
        </h1>
      </label>
      <ion-icon style="padding-left: 8px;" item-end name="bookmark">
      </ion-icon>
    </ion-item>

    <ion-item *ngFor="let x of list" (click)="expendGroup(x)">
      {{x.name}}
      <ion-note item-end>
        {{x.no}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>