page-video-groups {
    .page-header{
        color:white !important;
        padding-left: 16px;
    }
      
    ion-label{
        font-size: small;
    }
 
   .toolbar-md {
     min-height: 95px !important;
   } 
    [col-6] {
        padding: 0px !important;
 }
    .item-ios  , .item-md{
        padding-left:4px !important; 
        padding-right:4px !important; 
    }
    #cart-badge {
        position: absolute;
        top: 8px;
        right: 8px;
  }
  .note-md{
     padding-left: 10px;
  }
    .card-content-md , .card-content-ios {
     font-size: 1.0rem;
     }
  
     .searchbar-search-icon {
         width: 14px;
         height: 14px;
         background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='rgba(0,%200,%200,%200.5)'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='rgba(0,%200,%200,%200.5)'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>");
         background-size: 13px;
         background-repeat: no-repeat;
         position: absolute;
         left: 9px;
         top: 9px;
         margin-left:0;
         -webkit-transition: all 400ms cubic-bezier(0.25, 0.45, 0.05, 1);
         transition: all 400ms cubic-bezier(0.25, 0.45, 0.05, 1); }
        
       .searchbar-input {
         height: 3rem;
         line-height: 3rem;
         padding: 0 28px;
         font-size: 1.4rem;
         font-weight: 400;
         border-radius: 5px;
         color: #000;
         direction: rtl;
         background-color: #FFFFFF;
         padding-right: 0;
         -webkit-transition: all 400ms cubic-bezier(0.25, 0.45, 0.05, 1);
         transition: all 400ms cubic-bezier(0.25, 0.45, 0.05, 1); }
         .searchbar-input::-moz-placeholder {
           color: rgba(0, 0, 0, 0.5); }
         .searchbar-input:-ms-input-placeholder {
           color: rgba(0, 0, 0, 0.5); }
         .searchbar-input::-webkit-input-placeholder {
           color: rgba(0, 0, 0, 0.5);
           text-indent: 0; 
         }
}
