page-subjects-list {
   .page-header{
       color:white !important;
       padding-left: 16px;
   }
   ion-label{
       font-size: small;
   }  
  
   .item-ios  , .item-md{
       padding-left:4px !important; 
       padding-right:4px !important; 
   }
   #cart-badge {
       position: absolute;
       top: 8px;
       right: 8px;
 } 
 .note-md{
    padding-left: 10px;
 } 
   .card-content-md , .card-content-ios {
    font-size: 1.0rem;
    }
     
}
