<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-image: none !important;  background-color: white !important;">
  <img no-padding src="assets/imgs/Image 23.png" />

  <ion-row padding justify-content-center>
    <ion-col >
        <button full ion-button color="light" (click)="forward()">
          <ion-icon class="larger-icon" name="skip-forward"></ion-icon>
        </button>
    </ion-col>
    <ion-col  >
        <button full ion-button color="light" (click)="triggerPlay()">
          <ion-icon *ngIf="!isPlaying" class="larger-icon" name="play"></ion-icon>
          <ion-icon *ngIf="isPlaying" class="larger-icon" name="pause"></ion-icon>
        </button>
    </ion-col>
    <ion-col>
        <button full ion-button color="light" (click)="backward()">
          <ion-icon class="larger-icon" name="skip-backward"></ion-icon>
        </button>
    </ion-col>
</ion-row>
</ion-content>