<ion-header no-border>
  <ion-navbar>
    <ion-title>الصوتيات</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-tabs primary>
    <!-- <ion-tab tabTitle="المجموعات" [root]="'AudioGroubPage'"></ion-tab> -->
    <ion-tab tabTitle="السلاسل" [root]="'AudioSeriesPage'"  [rootParams]="{dept:null}"></ion-tab>
    <ion-tab tabTitle="المواد" [root]="'AudioListPage'" [rootParams]="{dept:null}"></ion-tab>
  </ion-tabs>
</ion-content>